<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A200%2C300%2C400%2C500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A200%2C300%2C400%2C500%2C600"/>
  <link rel="stylesheet" href="./app.component.css"/>
</head>
<body>
<div class="landingpage-xwG">
  <div class="auto-group-83re-VAW">

    <div class="center">
      <p class="clevertrip-d1p">SmartLight</p>
      <div class="auto-group-idpl-6RC">

        <p class="tu-compaero-de-viaje-Kok">Tu compañero en la obscuridad</p>

      </div>
      <img class="logofinal-3-uGA" src="../assets/logofoco.webp"/>
    </div>

    <div class="auto-group-2hvg-RVQ">
    </div>
  </div>

  <!-------------------------------------------------------------------------------------------------------->

  <div class="frame-1-Jhc">
    <button mat-button class="nosotros-16E" >Nosotros</button>
    <button mat-button class="contacto-vDC" >Contacto</button>
    <img class="logofinal-4-qLA" src="../assets/logofoco.webp"/>
    <button mat-button class="registrarse-B98" >Comprar</button>
    <button mat-button class="ingresar-tpE" >Encuentranos</button>
  </div>

  <!-------------------------------------------------------------------------------------------------------->
  
  <div class="frame-181-bTk">
    <div class="frame-182-9EN">
      <div class="text">
        <p class="trabajamos-para-ofrecerte-la-mejor-experiencia-eB8">¡Transforma tu hogar en un espectáculo de luces con nuestra increíble Luz Inteligente RGB!</p>
        <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-TuG">
          ¿Quieres darle vida a tu ambiente con una explosión de colores vibrantes? ¡Entonces nuestra Luz Inteligente RGB es la elección perfecta para ti!  <br><br> Con una paleta de colores infinita y opciones de personalización ilimitadas, esta luz inteligente te permite crear el ambiente perfecto para cualquier ocasión.
        </p>
        <div class="auto-group-bv7k-tjg">
          <p class="aun-no-estas-con-nosotros-pNS">Aun no tienes uno?</p>
          <button mat-button class="frame-183-wT4" >Comprar</button>
        </div>
      </div>
    </div>
    <img class="image-10-c3Q" src="../assets/bg2.webp"/>
  </div>

  <!-------------------------------------------------------------------------------------------------------->

  <div class="frame-180-Xw4">
    <div class="auto-group-75wc-So8">
      <img class="screen-search-desktop-MfC" src="../assets/brush.png"/>
      <p class="busquedas-Uzi">Diseño</p>
      <button mat-button class="saber-mas--1ze" >Saber mas</button>
    </div>
    <div class="auto-group-zb8r-6WJ">
      <img class="airplanemode-active-294" src="../assets/nest.png"/>
      <p class="planes-de-viaje-LvS">Comodidad</p>
      <button mat-button class="saber-mas--UWr" >Saber mas</button>
    </div>
    <div class="auto-group-2uve-Z2W">
      <img class="verified-UQN" src="../assets/list.png"/>
      <p class="recomendaciones-CrA">Caracteristicas</p>
      <button mat-button class="saber-mas--LSa" >Saber mas</button>
    </div>
  </div>

  <!-------------------------------------------------------------------------------------------------------->

  <div class="frame-184-pce">
    <p class="rpido-y-sencillo-Z4S">Rápido y Sencillo</p>
    <p class="con-nuestra-amigable-interfaz-descubrir-tus-lugares-favoritos-nunca-habia-sido-tan-fcil-rpE">Con nuestro producto podrás dar ambiente a cualquier rincon de tu hogar</p>
    <button mat-button class="frame-185-MW6">Comprar</button>
  </div>

  <!-------------------------------------------------------------------------------------------------------->

  <div id="seccionBusquedas"></div>
  <div class="auto-group-ll5c-nUv">



    <div class="auto-group-ybe6-J4N" id="seccionNosotros">
      <div class="frame-196-car">
        <p class="nosotros-kBG">Nosotros</p>
        <p class="el-equipo-de-trabajo-detras-de-clevertrip-dispuestos-a-ofrecer-el-mejor-servicio-GfQ">
        El equipo de trabajo detras de SmartLight. 
        <br/>
        
        <br/>
        Dispuestos a ofrecer el mejor servicio
        </p>
      </div>
      <div class="frame-194-wWe">
        <div class="person-Tjt">
          <!--Foto integrante-->
        </div>
        <p class="gustavo-hernndez-wQA">Gustavo Hernández</p>
      </div>
      <div class="frame-195-Ffk">
        <div class="person-axv">
          <!--Foto integrante-->
        </div>
        <p class="inti-martnez-r9k">Inti Martínez</p>
      </div>

    </div>

  </div>

  <!-------------------------------------------------------------------------------------------------------->

  <div class="frame-85-UKY">
    <img class="logofinal-3-1aN" src="../assets/logofoco.webp"/>
    <p class="clevertrip-MPL">© 2024 SmartLight</p>
  </div>
  <div class="frame-197-s6n" id="seccionContacto">
    <img class="logofinal-5-mT4" src="../assets/logofoco.webp"/>
    <div class="auto-group-by5l-tGn">

      <p class="contacto-R1p">Contacto</p>

      <div class="auto-group-huun-Z82">
        <img class="facebook-gyL" src="../assets/facebook.png"/>
        <img class="email-qLS" src="../assets/email.png"/>
        <img class="twitterx-BQJ" src="../assets/twitterx.png"/>
        <img class="instagram-7Yr" src="../assets/instagram.png"/>
      </div>
    </div>
    
  </div>
</div>
</body>


<router-outlet />
